body{
  margin: 0;
  padding: 0;
  line-height:1.4;
  color:#333;
  font-family:Arial, sans-serif;
  font-size:0.9em;
}
#main{
  /*width: 400px;*/
  position: relative;
}
#buffer_map{
  display: none;
}
#map,#battle {
  position: absolute;
}
#map{
  z-index: 1;
}
#battle {
  background-color: #000;
  z-index: 2;
  left: 410px;
}
#gamepad{
  position: relative;
  top: 300px;
  left: 10px;
  opacity: 0.8;
  width: 160px;
  height: 100px;
  z-index: 3;
}
#btn_left,#btn_up,#btn_right,#btn_down,#btn_ok{
  position: relative;
}
#btn_left,#btn_up,#btn_right,#btn_down{
  width: 30%;
  height: 30px;
}
#btn_ok{
  width: 20%;
  height: 40px;
}
#btn_left,#btn_right,#btn_ok{
  top: 22px;
}
#btn_down{
  top: 27px;
  left: 51px;
}
#btn_ok{
  right: 51px;
}